<div class="row" id="bot-management" class="tab-pane fade in active">
  <table id="bot-management-tbl" class="table table-infor table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th width="5%">No</th>
      <th width="15%">Title</th>
      <th width="10%">Channel</th>
      <th width="15%">Create Date</th>
      <th width="15%">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let coin of coins; let i = index">
      <td class="alCT">{{i + 1}}</td>
      <td>{{coin.name}}</td>
      <td class="alCT">{{coin.symbol}}</td>
      <td class="alR">{{coin.marcap | decimal}}</td>
      <td class="alR">{{coin.volume24h | btcPrice}}</td>
      <td class="alR" [ngClass]="{'priceIncreasing' : coin.change24h >= 0, 'priceDecreasing' : coin.change24h < 0}">{{coin.change24h | percent}}</td>
      <td class="alR" [ngClass]="{'priceIncreasing' : coin.change24h >= 0, 'priceDecreasing' : coin.change24h < 0}">{{coin.currentPrice | btcPrice}}</td>
      <td class="alCT">{{coin.updated | date:"HH:mm:ss"}}</td>
      <td class="alCT">
        <a (click)="showChart('MTH')" title="Chart" target="_blank"><i class="fa fa-line-chart"></i></a>
        <a href="https://www.binance.com/trade.html?symbol={{coin.symbol}}_BTC" title="Exchange" target="_blank"><i class="fa fa-link"></i></a>
        <a href="#" title="Data Collection"><i class="fa fa-database"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>



